# Data Science Tools and Ecosystem

## Author
##### Munish Lohani

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular commonly used libraries used by Data Scientists
* Some Data Science Tools

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow

## Data Science Tools

|Data Science Tools|
|---------------|
|R studio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
#this will convert 200 minutes to hours by diving by 60
a=200/60
a

3.3333333333333335